ADF/pipeline/copyRestAPIfiles.json
{
	"name": "copyRestAPIfiles",
	"properties": {
		"activities": [
			{
				"name": "WebRestAPI",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://mylanvaultdev.vault.azure.net/secrets/api-keys/d3503688167c485fb08159bb4382ec54?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "WebRestAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_RestResource",
						"type": "DatasetReference",
						"parameters": {
							"URL": {
								"value": "@activity('WebRestAPI').output.value",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Adfrunfiles",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@concat('airlines','/Date-Part',formatDateTime(utcnow(),'yyyy-MM-dd'),'/airlines.json')",
								"type": "Expression"
							},
							"container": "raw"
						}
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-11-22T12:27:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}