ADF/pipeline/copysqldbfiles.json
{
	"name": "copysqldbfiles",
	"properties": {
		"activities": [
			{
				"name": "Lookupsqldb",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_Adfrunfiles",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "Table_Source_SQL.json",
							"container": "adfrunfiles"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookupsqldb",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookupsqldb').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copysqldbfiles",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SqlDBSource",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@item().tablename_source",
											"type": "Expression"
										},
										"schemaName": {
											"value": "@item().schema",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Parquet_SQLDBSink",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@item().container_sink",
											"type": "Expression"
										},
										"directory": {
											"value": "@concat(split(item().filename_sink,'.')[0],'/Date-Part=',formatDateTime(utcNow(),'yyyy-MM-dd'))",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item().filename_sink",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-11-22T12:27:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}